Cadence/
Code - OSS/
Cutter/
GIMP/
MuPuF.org/
MuseScore/
QtProject.conf
QtProject/
Todoist/
Trolltech.conf
Whatsie/
ardour5/
brasero/
clight.conf
cmus/
configstore/
dconf/
deepin/
drumstick.sourceforge.net/
falkTX/
gtk-2.0/
gtk-3.0/
i3status/
jack/
menus/
midori/
mimeapps.list
nautilus/
pulse/
rncbc.org/
sonic-visualiser/
tilda/
vlc/
microsoft-office-online-nativefier*
SuperCollider/sc_ide_conf.yaml
